 .chief{
    height: 100vh;
    width: 100%;
    overflow: hidden;
 }
.video2{
   height: 100vh;
   width: 100%;
   position: absolute;
   overflow: hidden;

}
.video3{
   width: 70%;
   height: 100vh;
   left: 15%;
   position: relative;
   overflow: hidden;
   display: block;
   transition-duration: 2s;
   transform: scale(1.45);
   animation-iteration-count: infinite;
   
   opacity: 0%;
}
.video3:hover{
   transform: scale(1.43);
   animation-iteration-count: infinite;
   animation-play-state: paused;
   opacity: 100%;
   
}

@media screen and (max-width:400px){
   .chief{
      height: 100vh;
      width: 100vw;
      
   }
   .video2{
      position: relative;
      height: 100vh;
      width: 100%;
   }
   .video3:hover, .video3:active{
      transform: scale(1.45);
      opacity: 100%;
   }
}

@media screen and (max-width:600px){
   .chief{
      height: 100vh;
      width: 100vw;
   }
   .video3:hover, .video3:active{
      transform: scale(1.45);
      opacity: 100%;
   }
}
@media screen and (max-width:800px) {
   .chief{
      height: 100vh;
      width: 100%;
     
   }
   .video2{
      position: relative;
   
   }
   .video3:hover, .video3:active{
      transform: scale(1.45);
      opacity: 100%;
   }
}
