 .chief{
    height: 100vh;
    width: 100%;
    overflow: hidden;
 }
.video2{
   height: 100vh;
   width: 100%;
   position: relative;
   
}


@media screen and (max-width:400px){
   .chief{
      height: 100vh;
      width: 100vw;
      
   }
   .video2{
      position: relative;
      height: 100vh;
      width: 100%;
   }
}

@media screen and (max-width:600px){
   .chief{
      height: 100vh;
      width: 100vw;
   }
}
@media screen and (max-width:800px){
   .chief{
      height: 100vh;
      width: 100vw;
      position: absolute;
   }
   .video2{
      position: absolute;
   }
}
