.btn1 {
    padding: 50% 50%;
    margin: 0;
    position: absolute;
    cursor: pointer;
    border: 1px;
    background-color: transparent;
    outline: none;
   
}
.btn1:hover{
    background-color: aquamarine;
}
