
button{
    cursor: pointer;  
}
.btn2{
    z-index: 1;
   position: absolute;
   left: 3%;
   opacity: 0%;
}
.btn3{
    z-index: 1;
    position: absolute;
    left: 30%;
    opacity: 0%;
}
.btn4{
    z-index: 1;
    position: absolute;
    left: 65%;
    top:-7%;
    opacity: 0%;
    
}
.btn5{
    z-index: 1;
    position: absolute;
    left: 79%;
    bottom: 62%;
    opacity: 0%;
}
.btn6{
    z-index: 1;
    position: absolute;
    left: 93%;
    bottom: 65%;
    opacity: 0%;
}
.btn7{
    z-index: 1;
    position: fixed;
    left: 53% ;
    bottom: 36%;
    opacity: 0%;
}
.btn7:hover{
    opacity: 100%;
}

/*mobile formatting */
@media  screen and (max-width: 980px ) {
    .btn2{
        z-index: 1;
       position: absolute;
       left: 1%;
       opacity: 0%;
       top: 30%;
    }
    .btn3{
        z-index: 1;
        position: absolute;
        left: 30%;
        top: 32%;
        opacity: 0%;
    }
    .btn4{
        z-index: 1;
        position: absolute;
        left: 63%;
        top: 29%;
        opacity: 0%;
        
    }
    .btn5{
        z-index: 1;
        position: absolute;
        left: 78%;
        bottom: 55%;
        opacity: 0%;
    }
    .btn6{
        z-index: 1;
        position: absolute;
        left: 92%;
        top: 8%;
        opacity: 100%;
        width: 20px;
        height: 40px;
    }
    .btn7{
        position: absolute;
        left: 52% ;
        bottom: 40%;
    }
}
@media  screen and (max-width: 768px ) {
    .btn2{
        z-index: 1;
       position: absolute;
       left: 1%;
       opacity: 0%;
       top: 30%;
    }
    .btn3{
        z-index: 1;
        position: absolute;
        left: 30%;
        top: 32%;
        opacity: 0%;
    }
    .btn4{
        z-index: 1;
        position: absolute;
        left: 63%;
        top: 29%;
        opacity: 0%;
        
    }
    .btn5{
        z-index: 1;
        position: absolute;
        left: 78%;
        bottom: 55%;
        opacity: 0%;
    }
    .btn6{
        z-index: 1;
        position: absolute;
        left: 93%;
        top: 32%;
        opacity: 0%;
        
        
    }
    .btn7{
        z-index: 1;
        position: absolute;
        left: 52% ;
        bottom: 42%;
    }
}
@media  screen and (max-width: 575px ) {
    .btn2{
        z-index: 1;
       position: absolute;
       left: 2%;
       opacity: 0%;
       top: 39%;
    }
    .btn3{
        z-index: 1;
        position: absolute;
        left: 26%;
        top: 37%;
        opacity: 0%;
    }
    .btn4{
        z-index: 1;
        position: absolute;
        left: 65%;
        top:-3%;
        opacity: 0%;
        
    }
    .btn5{
        z-index: 1;
        position: absolute;
        left: 79%;
        bottom: 90%;
        opacity: 0%;
    }
    .btn6{
        z-index: 1;
        position: absolute;
        left: 93%;
        top: 4%;
        
        
    }
    .btn7{
        z-index: 1;
        position: absolute;
        left: 55% ;
        bottom: 76%;
        opacity: 0%;

}

}