@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.modal{
    font-size: 15px;
    font-family: 'Staatliches', cursive;
    position: fixed;
    background-color: whitesmoke;
    
}
